@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkgreen;
  color: white;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.navbar-brand, h1, h2, h3, h4, h5, h6, th {
  font-family: "Merriweather", Georgia, 'Times New Roman', Times, serif;
  /*font-size: 1.4rem;*/
}

header {
  background-color: saddlebrown;
}

.logo {
  max-width: 60px;
  height: auto;
  border-radius: 5px;
}

.navbar-brand {
  font-size: 2rem;
  color: black;
}

.navbar-brand:hover {
  color: black;
  text-decoration: none;
}

.navbar-toggler:hover,
.navbar-toggler:active,
.navbar-toggler:visited,
.navbar-toggler:focus {
  border: none !important;
  box-shadow: none !important;
  outline: 0 !important;
}

.nav-link {
  font-size: 1.4rem;
  color: black;
}

.nav-link:hover {
  color: white;
  text-decoration: underline;
}

.nav-link:focus {
  color: white;
}

.image {
  max-width: 600px;
  height: auto;
}

.btn-primary,
.btn-primary:disabled,
.btn-primary:enabled {
  background-color: white;
  color: black;
  border: 2px solid black;
  transition-duration: 0.4s;
}

/*.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:disabled,
.btn-primary:enabled,
.btn-primary:focus,
.btn-primary:checked {
  background-color: white;
  color: black;
  border: 2px solid black;
  box-shadow: none;
  outline: 0;
}*/

.btn-primary:hover {
  background-color: black;
  color: white;
  border: 2px solid black;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:disabled,
.btn-primary:enabled,
.btn-primary:focus,
.btn-primary:checked {
  box-shadow: none;
  outline: 0;
  border: none;
}

.form-check-input:checked {
  background-color: black;
  border-color: black;
}

.table, .table-hover>tbody>tr:hover>* {
  color: white !important;
}

.logo-background {
  background-image: url("../public/graphics/logo.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}