* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkgreen;
  color: white;
}

.logo {
  max-width: 60px;
  height: auto;
  border-radius: 5px;
}
a {
  font-size: 2rem;
}

.image {
  max-width: 600px;
  height: auto;
}

header {
  background-color: saddlebrown;
}
